/*------ Variables ------*/
:root {
  --base-shade-1: #A14CEE;
  --white-shade-1: #ffffff;
  --white-shade-2: #f3d7f2;
  --black-shade-1: #232323;
  --black-shade-2: #676a8b;
  --grad-color-1: 0, 180, 250;
  --grad-color-2: 21, 120, 255;

  --base-font-size: 1.6rem;

  --heading-font-size-1: 4rem;
  --heading-font-size-2: 3.2rem;
  --heading-font-size-3: 2rem;
  --heading-font-size-4: 1.8rem;

  --border-radius-1: 2rem;
  --border-radius-2: 0.5rem;
}
/*------ Base Styles ------*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:not(i) {
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/*------ Utility Classes ------*/

section,
footer {
  padding: 3rem 5rem;
}
section{
  padding-top: 90px;
}

#features{
background-color: rgb(252, 240, 255);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.column {
  width: 100%;
}
.section-desc {
  text-align: center;
  margin: 2rem 0 6rem 0;
}
h1 {
  font-size: var(--heading-font-size-1);
  color: var(--black-shade-1);
  margin-bottom: 2rem;
  word-spacing: 1rem;
  line-height: 1.6;
}
h2 {
  font-size: var(--heading-font-size-2);
  color: var(--black-shade-1);
  font-weight: 700;
  text-align: center;
}
h3 {
  font-size: var(--heading-font-size-3);
  color: var(--black-shade-1);
  font-weight: 700;
  margin: 1.5rem 0;
  text-align: center;
}
h4 {
  font-size: var(--heading-font-size-4);
  color: var(--black-shade-2);
  margin: 1.5rem 0;
}
p,
button {
  font-size: var(--base-font-size);
  color: var(--black-shade-2);
  border-radius: var(--border-radius-1);
  cursor: pointer;
  line-height: 1.8;
  font-weight: 400;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-border-radius: var(--border-radius-1);
  -moz-border-radius: var(--border-radius-1);
  -ms-border-radius: var(--border-radius-1);
  -o-border-radius: var(--border-radius-1);
}
button:hover{
  box-shadow: 0px 0px 5px 1px var(--base-shade-1);
  scale: 1.005;
}
.btn {
  background-color: transparent;
  padding: 0.6rem 2rem;
  border: none;
  margin: 2rem 0;
}
.btn.last{
  border-radius: var(--border-radius-1);
  -webkit-border-radius: var(--border-radius-1);
  -moz-border-radius: var(--border-radius-1);
  -ms-border-radius: var(--border-radius-1);
  -o-border-radius: var(--border-radius-1);
  font-weight: bold;
  color: var(--white-shade-1) !important;
  border: 2px solid var(--base-shade-1);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.btn.last:hover{
  box-shadow: 0px 0px 5px 1px var(--base-shade-1);
}
.primary-btn {
  background-color: var(--base-shade-1);
  color: var(--white-shade-1);
}
.secondary-btn {
  border: 0.3rem solid var(--base-shade-1);
  color: var(--base-shade-1);
}

/*------ Header ------*/
header {
  background: black;
  position: fixed;
  width: 100%;
  padding: 2rem 6rem;
  z-index: 999;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav a {
  font-size: var(--heading-font-size-4);
  text-decoration: none;
}
nav a#logo {
  color: var(--base-shade-1);
  font-weight: 700;
  font-size: 32px;
  font-weight: 700;
}
nav ul a {
  color: var(--white-shade-1);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

/*-- SideMenu --*/
#ham-menu {
  display: none;
}
nav ul.active {
  left: 0;
}
/*-- Sticky Header --*/
.sticky {
  background-color: var(--white-shade-1);
  box-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.05);
}
.sticky nav ul a,
.sticky nav a#logo,
.sticky #ham-menu {
  color: var(--black-shade-1);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
/*-- Link Hover Effect --*/
nav ul a:hover {
  color: var(--base-shade-1);
}
.sticky nav ul a:hover {
  color: var(--base-shade-1);
}
/*------ Section: Hero ------*/
section.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 57px;
  padding-top: 117px;
  column-gap: 134px;
}
#header-shape {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.hero-content p {
  text-align: justify;
  color: black;
  font-weight: bold;
}
.circle {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.circle-1 { background-color: var(--base-shade-1); width: 60px; height: 60px; bottom: 20%; left: 5%; animation: move1 20s infinite alternate ease-in-out; }
.circle-2 { background-color: var(--base-shade-1); width: 50px; height: 50px; top: 20%; left: 15%; animation: move2 25s infinite alternate ease-in-out; }
.circle-3 { background-color: var(--base-shade-1); width: 40px; height: 40px; top: 30%; left: 25%; animation: move3 30s infinite alternate ease-in-out; }
.circle-4 { background-color: var(--base-shade-1); width: 35px; height: 35px; bottom: 40%; left: 35%; animation: move4 35s infinite alternate ease-in-out; }
.circle-5 { background-color: var(--base-shade-1); width: 60px; height: 60px; bottom: 10%; left: 45%; animation: move5 40s infinite alternate ease-in-out; }
.circle-6 { background-color: var(--base-shade-1); width: 50px; height: 50px; top: 20%; left: 55%; animation: move6 45s infinite alternate ease-in-out; }
.circle-7 { background-color: var(--base-shade-1); width: 45px; height: 45px; top: 70%; left: 65%; animation: move7 50s infinite alternate ease-in-out; }
.circle-8 { background-color: var(--base-shade-1); width: 35px; height: 35px; top: 80%; left: 75%; animation: move8 55s infinite alternate ease-in-out; }
.circle-9 { background-color: var(--base-shade-1); width: 50px; height: 50px; top: 15%; left: 85%; animation: move9 20s infinite alternate ease-in-out; -webkit-animation: move9 20s infinite alternate ease-in-out; }
.circle-10 { background-color: var(--base-shade-1); width: 40px; height: 40px; top: 25%; right: 10%; animation: move10 65s infinite alternate ease-in-out; }
.circle-11 { background-color: var(--base-shade-1); width: 60px; height: 60px; bottom: 35%; left: 20%; animation: move11 70s infinite alternate ease-in-out; }
.circle-12 { background-color: var(--base-shade-1); width: 30px; height: 30px; top: 45%; left: 30%; animation: move12 75s infinite alternate ease-in-out; }
.circle-13 { background-color: var(--base-shade-1); width: 55px; height: 55px; top: 15%; left: 40%; animation: move13 80s infinite alternate ease-in-out; }
.circle-14 { background-color: var(--base-shade-1); width: 45px; height: 45px; top: 65%; left: 50%; animation: move14 85s infinite alternate ease-in-out; }
.circle-15 { background-color: var(--base-shade-1); width: 50px; height: 50px; top: 75%; left: 60%; animation: move15 90s infinite alternate ease-in-out; }
.circle-16 { background-color: var(--base-shade-1); width: 30px; height: 30px; top: 85%; left: 70%; animation: move16 95s infinite alternate ease-in-out; }
.circle-17 { background-color: var(--base-shade-1); width: 55px; height: 55px; top: 15%; left: 80%; animation: move17 100s infinite alternate ease-in-out; }
.circle-18 { background-color: var(--base-shade-1); width: 40px; height: 40px; top: 20%; left: 5%; animation: move18 105s infinite alternate ease-in-out; }
.circle-19 { background-color: var(--base-shade-1); width: 50px; height: 50px; bottom: 5%; right: 15%; animation: move19 110s infinite alternate ease-in-out; }
.circle-20 { background-color: var(--base-shade-1); width: 60px; height: 60px; top: 40%; right: 10%; animation: move20 25s infinite alternate ease-in-out; -webkit-animation: move20 25s infinite alternate ease-in-out; }

/* Animations */
@keyframes move1 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(15vw), calc(15vh)); }
}
@keyframes move2 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(-15vw), calc(15vh)); }
}
@keyframes move3 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(10vw), calc(-10vh)); }
}
@keyframes move4 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(-10vw), calc(-10vh)); }
}
@keyframes move5 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(20vw), calc(10vh)); }
}
@keyframes move6 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(-20vw), calc(10vh)); }
}
@keyframes move7 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(15vw), calc(-15vh)); }
}
@keyframes move8 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(-15vw), calc(-15vh)); }
}
@keyframes move9 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(10vw), calc(10vh)); }
}
@keyframes move10 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(-10vw), calc(10vh)); }
}
@keyframes move11 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(20vw), calc(-10vh)); }
}
@keyframes move12 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(-20vw), calc(-10vh)); }
}
@keyframes move13 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(15vw), calc(15vh)); }
}
@keyframes move14 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(-15vw), calc(15vh)); }
}
@keyframes move15 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(10vw), calc(-10vh)); }
}
@keyframes move16 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(-10vw), calc(-10vh)); }
}
@keyframes move17 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(20vw), calc(10vh)); }
}
@keyframes move18 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(-20vw), calc(10vh)); }
}
@keyframes move19 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(15vw), calc(-15vh)); }
}
@keyframes move20 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(calc(-15vw), calc(-15vh)); }
}
.hero-img img {
  display: block;
  width: 70rem;
  height: auto;
}
.btn-container {
  display: flex;
  gap: 3rem;
}
/*------ Section: Features ------*/
.features .row {
  align-items: stretch;
}
.features .column {
  padding: 6rem 2rem;
  border-radius: var(--border-radius-1);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.features .column p {
  text-align: center;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.features h3 {
  margin: 3rem 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.features i {
  display: block;
  height: 6rem;
  width: 6rem;
  margin: 0 auto;
  font-size: 3.5rem;
  transition: all .3s ease;
  background-color: var(--base-shade-1);
  color: var(--white-shade-1);
  padding: 1.3rem 0;
  text-align: center;
  border-radius: var(--border-radius-2);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.features .column:hover {
  background-color: var(--base-shade-1);
}
.features .column:hover h3 {
  color: var(--white-shade-1);
}
.features .column:hover p {
  color: var(--white-shade-2);
}
.features .column:hover i {
  background-color: var(--white-shade-1);
  color: var(--base-shade-1);
}
/*------ Section: Courses ------*/
.courses .row {
  align-items: stretch;
}
.courses .column {
  box-shadow: 0 0.5rem 2.4rem 0.6rem rgba(0, 0, 0, 0.06);
  border-radius: var(--border-radius-1);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.courses .column:hover{
  box-shadow: 0px 0px 5px 1px var(--base-shade-1);
}
.courses .column:hover img{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.courses .column > *:not(img) {
  padding: 0 2rem;
}
.courses .column img {
  border-radius: var(--border-radius-1) var(--border-radius-1) 0 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}
.courses .column p {
  text-align: center;
  flex-grow: 1;
}
.courses-btn {
  display: flex;
  justify-content: center;
}
.courses-btn .btn:hover {
  color: var(--white-shade-1);
  background-color: var(--base-shade-1);
}
/*------ Section: Testimonials ------*/
.testimonial {
  background-color: rgb(252, 240, 255) !important;
}
.testimonial h2,
.testimonial .section-desc {
  color: black;
}
.testimonial h3{
  color: var(--base-shade-1);
}
.testimonial .row {
  align-items: stretch;
}
.testimonial .column {
  background-color: var(--white-shade-1);
  padding: 4rem 3rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-1);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0.5rem 2.4rem 0.6rem rgba(0, 0, 0, 0.06);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.testimonial .column:hover .bg-ils-1{
  top: 3px;
  left: 3px;
}
.testimonial .column:hover .bg-ils-1-little{
  top: 10px;
  left: 10px;
}
.testimonial .column:hover .bg-ils-2-little{
  bottom: 11px;
  right: 11px;
}
.testimonial .column:hover .bg-ils-2{
  bottom: 3px;
  right: 3px;
}

.bg-ils-1{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: var(--base-shade-1);
  top: -3px;
  left: -3px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.bg-ils-1-little{
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: var(--white-shade-1);
  border: 2px solid var(--base-shade-1);
  top: 25px;
  left: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.bg-ils-2{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: var(--base-shade-1);
  bottom: -3px;
  right: -3px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.bg-ils-2-little{
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: var(--white-shade-1);
  border: 2px solid var(--base-shade-1);
  bottom: 25px;
  right: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.testimonial .column:hover{
  box-shadow: 0px 0px 5px 1px var(--base-shade-1);
}
.testimonial .column:hover .testimonial-image{
  box-shadow: 0px 0px 6px 3px var(--base-shade-1);
}
.testimonial-image {
  height: 14rem;
  width: 14rem;
  margin: auto;
  padding: 0.9rem;
  border-radius: 50%;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.testimonial-image img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}
.testimonial .column p {
  margin: 4rem 0;
  flex-grow: 1;
}
/*------ Section: Download App ------*/
.download-app .column:nth-child(1) {
  display: flex;
  justify-content: center;
}
.download-app .column:nth-child(2) {
  padding: 0 2rem;
}
.download-app img {
  display: block;
  width: 75%;
}
.app-feature {
  border-bottom: 1.5px dashed rgba(var(--grad-color-1), 0.4);
}
.app-feature:not(:last-child) {
  margin-bottom: 1.5rem;
}
.app-feature div {
  display: flex;
  gap: 2rem;
}
.app-feature p {
  margin-bottom: 1.5rem;
}
.download-app .fas {
  display: inline-block;
  background-color: var(--white-shade-2);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem;
  color: var(--base-shade-1);
}
.download-app h3 {
  display: inline-block;
}
.download-btns {
  display: flex;
}
.download-btns a {
  display: inline;
  text-align: center;
}
.download-btns a img {
  display: inline-block;
  width: 70%;
}
/*------ Section: Footer ------*/
footer {
  background-color: #000000;
}
footer h3 {
  margin: 0;
}
footer h3,
footer h4 {
  color: var(--white-shade-1);
  text-align: center;
}
footer .row {
  margin-bottom: 6rem;
}
.row.footer-contact .column{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.row.footer-contact .column p{
  margin-left: 5px;
}
.footer-about {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid var(--base-shade-1);
}
.social-links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.social-links a {
  font-size: 3rem;
  text-decoration: none;
  color: var(--white-shade-1);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.social-links a:hover{
  color: var(--base-shade-1);
}
footer p {
  text-align: center;
  max-width: 600px;
}
.info-div{
  border-top: 2px solid var(--base-shade-1);
  padding: 15px;
  font-size: 16px;
  color: white !important;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.info-div a{
  text-decoration: none;
  color: var(--white-shade-1);
  border-bottom: 2px solid black;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.info-div a:hover{
  border-bottom: 2px solid var(--white-shade-1);
}

/*------ Scroll Top Button ------*/
#scroll-top {
  position: fixed;
  display: none;
  z-index: 999;
  place-items: center;
  height: 5rem;
  width: 5rem;
  right: 3rem;
  bottom: 3rem;
  background-color: var(--base-shade-1);
  color: var(--white-shade-1);
  border: none;
  outline: none;
  font-size: var(--heading-font-size-3);
  border-radius: var(--border-radius-2);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
#scroll-top:hover{
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 56.25%;
  }
  .row {
    flex-direction: column;
  }
  section,
  footer {
    padding: 7.5rem 5rem;
  }
  header {
    padding: 2.2rem 5rem;
  }
  section.hero {
    grid-template-columns: 1fr;
    background-color: var(--base-shade-1);
    display: flex;
    flex-wrap: wrap;
  }

  .hero-img img {
    display: none;
}
  #header-shape {
    display: none;
  }
  .hero-img {
    grid-row: 1;
  }
  nav ul a,
  nav a#logo {
    color: var(--white-shade-1);
  }
  .hero-content h1,
  .hero-content p {
    text-align: center;
  }
  .hero-content h1 {
    color: var(--white-shade-1);
  }
  .hero-content p {
    color: var(--white-shade-2);
  }
  .hero-content .primary-btn {
    background-color: var(--white-shade-1);
    color: var(--base-shade-1);
    border:2px solid var(--base-shade-1) !important;
  }
  .hero-content .primary-btn:hover {
    background-color: var(--base-shade-1);
    color: var(--white-shade-1);
    border:2px solid var(--white-shade-1) !important;
  }
  .hero-content .secondary-btn {
    color: var(--white-shade-1);
    border-color: var(--white-shade-1);
  }
  .hero-content .secondary-btn:hover {
    background-color: var(--white-shade-1);
    color: var(--base-shade-1);
    border:2px solid var(--base-shade-1) !important;

  }
  .circle{
    display: none;
  }
  .btn-container {
    justify-content: center;
  }
  .download-app img {
    width: 40%;
  }
  .app-feature div {
    justify-content: center;
  }
  .app-feature p {
    text-align: center;
  }
  .download-app a img {
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }
  header {
    padding: 2rem 4rem;
  }
  #ham-menu {
    display: block;
    color: var(--white-shade-1);
  }
  nav a#logo,
  #ham-menu {
    font-size: var(--heading-font-size-2);
  }
  nav ul {
    background-color: #000000;
    position: fixed;
    left: -100vw;
    top: 70.4px;
    height: calc(100vh - 70.4px);
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    gap: 0;
  }
  nav ul a {
    font-size: var(--heading-font-size-3);
  }
  .sticky nav ul a {
    color: var(--white-shade-1);
  }
  nav ul a:hover {
    color: var(--base-shade-1);
  }
  .download-app img {
    width: 60%;
  }
  #scroll-top {
    height: 6rem;
    width: 6rem;
  }
}
@media only screen and (max-width: 575px) {
  html {
    font-size: 46.87%;
  }
  header {
    padding: 2rem 3rem;
  }
  section,
  footer {
    padding: 7.5rem 3rem;
  }
  .features .column {
    padding: 4rem 2rem;
  }
  nav ul {
    top: 65.18px;
    height: calc(100vh - 65.18px);
  }
}
